.chart-list {
    align-items: center !important;
}

.chart-cell {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.chart-inline {
    display: inline-flex;
}

.state-indicator {
    display: inline;
    margin-right: 8px;
}
