.chart-list {
    align-items: center !important;
}

.chart-cell {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    align-self: end;
}

.chart-inline {
    display: inline-flex;
}

.chart-overflow svg {
    overflow: visible;
}

li.good {
}

li.failed {
    box-shadow: -0.5em 0 0 #f0ab00 inset;
}